/* line 5, ../../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_common.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 6, ../sass/_common.scss */
#loginbtn,
#searchicon,
#socialbtn {
  display: none;
}

/* line 1, ../sass/_header.scss */
#pagehead {
  height: 50px;
  padding: 1px;
  border-bottom: 1px solid #ddd;
}
/* line 5, ../sass/_header.scss */
#pagehead #masthead {
  display: inline-block;
  height: 100%;
  width: 77%;
}
/* line 10, ../sass/_header.scss */
#pagehead #logo {
  font-family: "Nunito", sans-serif;
  float: left;
  height: 100%;
  line-height: 1.7;
  font-size: 35px;
  font-weight: bold;
}
@media screen and (min-width: 800px) {
  /* line 18, ../sass/_header.scss */
  #pagehead #logo {
    margin-left: 50%;
  }
}
/* line 23, ../sass/_header.scss */
#pagehead #menuicon {
  width: 39px;
  height: 39px;
  float: left;
  margin-top: 11px;
  margin-left: 11px;
}

@media screen and (min-width: 600px) {
  /* line 32, ../sass/_header.scss */
  #loginbtn {
    display: inline-block;
    float: right;
    width: 100px;
    height: 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 10px 15px;
    color: #aaa;
  }
  /* line 41, ../sass/_header.scss */
  #loginbtn:hover {
    color: white;
    background-color: #0093ec;
  }
}
@media screen and (min-width: 800px) {
  /* line 49, ../sass/_header.scss */
  #masthead:hover #socialbtn {
    display: inline-block;
    line-height: 3.3;
    padding-left: 13px;
  }

  /* line 54, ../sass/_header.scss */
  #searchicon {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 17px;
  }

  /* line 60, ../sass/_header.scss */
  #plusicon {
    width: 10px;
    height: 10px;
  }

  /* line 63, ../sass/_header.scss */
  #follow {
    color: blue;
  }
  /* line 65, ../sass/_header.scss */
  #follow:hover {
    text-decoration: underline;
  }
}
