#pagehead {
    height: 50px;
    padding: 1px;
    border-bottom: 1px solid #ddd;
    #masthead {
        display: inline-block;
        height: 100%;
        width: 70%;
    }
    #logo {
        font-family: $logo-font-family;
        @include float-left;
        height: 100%;
        line-height: 1.7;
        font-size: 35px;
        font-weight: bold;
        @media screen and (min-width: $second-break) {
            margin-left: 50%;
        }
    }
    #menuicon {
        @include size(39px);
        @include float-left;
        margin-top: 11px;
        margin-left: 11px;
    }
}

@media screen and (min-width: $first-break) {
    #loginbtn {
        display: inline-block;
        @include float-right;
        @include size(100px, 30px);
        @include border-radius(5px);
        border: 1px solid #ddd;
        background-color: $white;
        margin: 10px 15px;
        color: #aaa;
        &:hover {
            color: white;
            background-color: #0093ec;
        }
    }
}

@media screen and (min-width: $second-break) {
    #masthead:hover #socialbtn {
        display: inline-block;
        line-height: 3.3;
        padding-left: 13px;
    }
    #searchicon {
        display: inline-block;
        @include size(20px);
        @include float-left;
        margin-top: 17px;
    }
    #plusicon {
        @include size(10px);
    }
    #follow {
        color: $link-color;
        &:hover {
            text-decoration: underline;
        }
    }
}
