@import "compass/reset";
@import "compass";
@import "mixin";
a {
    color: #000;
    text-decoration: none;
}

#pagehead {
    height: 50px;
    padding: 1px;
    border-bottom: 1px solid #ddd;
    h1 {
        font-family: 'Nunito', sans-serif;
        @include float-left;
        height: 100%;
        line-height: 1.7;
        font-size: 35px;
        font-weight: bold;
    }
}

#menuicon {
	@include size(39px);
    @include float-left;
    margin-top: 11px;
    margin-left: 11px;
}
#loginbtn, #searchicon
{
	display: none;
}
@media screen and (min-width: 600px) {
	#loginbtn{
		display: inline-block;
		float: right;
		@include size(100px,25px);
		@include border-radius(5px);
		border:1px solid #ddd;
		background-color: #fff;
		margin:15px 15px;
		color:#aaa;
	}
}
@media screen and (min-width: 800px){
	h1{
		margin-left: 35%;
	}
	#searchicon{
		display: inline-block;
		@include size(20px);
    	float: left;
    	margin-top: 17px;
	}
}